<footer class="footer">
  <!-- {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %} -->

  <div class = "contribuidores">
      <img src="{{ site.github.url }}/assets/img/icmc_logo.png" alt="ICMC" width="100">
      <img src="{{ site.github.url }}/assets/img/cemeai_logo.png" alt="CEMEAI" width="100">
  </div>

  <div class="post-date"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} pelo {{ site.author }}</a></div>
</footer>
