---
layout: default
title: Home
---

<h1>Mapas com informações sobre o novo coronavírus. </h1>

<p align="justify">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut ultricies nisi, vitae ullamcorper leo. Fusce eu metus et sapien dapibus vestibulum. Sed egestas mattis justo non ullamcorper. Duis fermentum vitae lectus non interdum. Suspendisse mollis nisi sed facilisis vestibulum. Donec massa eros, eleifend tempor nunc non, pretium ultricies est. Mauris euismod enim in ipsum condimentum aliquam. Fusce tellus nibh, vestibulum sed risus at, consectetur imperdiet massa. Cras pretium, tellus sed egestas egestas, lorem lectus vestibulum sem, vel commodo mi metus ut nunc. Integer auctor nisl nec arcu elementum blandit. Phasellus bibendum nisi at vulputate semper. Nulla facilisi.
<br>
  Morbi ac porttitor tellus. Nulla ligula lectus, lobortis nec dui nec, ultricies mollis nulla. Nullam felis lectus, ultrices eu tortor vel, molestie ultrices elit. Proin condimentum luctus sem non tincidunt. Suspendisse ultrices maximus feugiat. Nullam in felis nulla. Donec elementum porttitor turpis at aliquet. Suspendisse sed tristique urna. Nullam vel ullamcorper magna. Nunc ornare risus quis tellus sagittis porttitor. Maecenas semper gravida porta. Fusce odio dui, accumsan a eros vitae, pretium tempus est. Sed sed eros vel nibh commodo pulvinar at in eros. Nullam lobortis volutpat tortor et accumsan. Praesent et magna dolor.
<br>
  Curabitur lacinia maximus nisi a consequat. Mauris leo lacus, accumsan sed dui non, vulputate consequat velit. Mauris id aliquam nisi, id tempor est. Nam vitae sapien id quam dignissim venenatis non eget massa. Donec ut vestibulum ante. In hac habitasse platea dictumst. Phasellus vel semper tortor, eget lacinia nibh. Sed massa erat, malesuada vitae mattis nec, mattis sit amet lectus. Nullam elementum augue nec neque scelerisque, eget dignissim mi molestie. Proin mi odio, pharetra vel rutrum molestie, rutrum vel mi. Nullam non ipsum sapien. Nunc dictum at lacus ut gravida. Duis ac aliquam nulla. Aenean auctor diam fringilla pretium vehicula. Morbi sem purus, ultricies sed mauris non, malesuada condimentum eros.
<br>
</p>

<article>
  <a href="{{ site.github.url }}/maps/confirmed_map.html" target="_blank">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/contaminados.png)">
      <h2><span>Mapa de contaminados por município</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="{{ site.github.url }}/maps/deaths_map.html" target="_blank">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/mortalidade.png)">
      <h2><span>Mapa de mortalidade por município</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="{{ site.github.url }}/maps/all_with_layers_clusters.html" target="_blank">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/taxa_contaminados.png)">
      <h2><span>Mapa da taxa de contaminados/100 mil habitantes por município</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="{{ site.github.url }}/maps/all_with_layers_clusters.html" target="_blank">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/taxa_mortalidade.png)">
      <h2><span>Mapa da taxa de mortalidade por município</span></h2>
    </div>
  </a>
</article>

<!-- Pagination links
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
