---
layout: default
title: Mapas
---

<h2>Home</h2>

<p align="justify">
  Nesta página apresentamos análises georreferenciadas utilizando métodos estatísticos e computacionais em tempo real dos casos confirmados e casos fatais por municípios brasileiros da COVID-19. Essas análises buscam a identificação de medidas para reduzir os impactos da crise causada pelo coronavírus.
  <br>
</p>

<article>
  <a href="{{ site.github.url }}/pages/maps.html">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/mapas.png)">
      <h2><span>Mapas</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="{{ site.github.url }}/pages/graphs.html">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/graficos.png)">
      <h2><span>Gráficos</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="{{ site.github.url }}/pages/tables.html">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/tabelas.png)">
      <h2><span>Tabelas</span></h2>
    </div>
  </a>
</article>